


h1{    
    background-color: gold;
    margin: 0;
    

    
}


h3{    
    background-color: gold;
    margin: 0;
    
    
    
   

}



.griditem{

    margin: 10px;
}



.griditemnuevosingresos{    
    margin: 30px;
}

